:root {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  text-align: center;
  background: url("space.png") 100%;
  filter: grayscale(50%) sepia(25%);
  /*display: flex;*/
  flex-direction: column;
}

img {
  position: relative;
  top: 15vh;
  margin-bottom: 15vh;
}

.btn {
  color: white;
  display: block;
  padding: 8px 16px;
}

.btn:hover {
  color: purple;
}

a {
  text-decoration: none;
  color: white;
}